.profile__avatar {
    border: solid 2px var(--aqua);
    border-radius: 10%;
    height: 40px;
    width: 40px;
}


.App-logo {
    border: solid 2px var(--aqua);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

* {
    box-sizing: border-box;
}

.Slider {
    max-width: 900px;
    margin: 0 auto;
}

.Caroussel .overlay {
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    color: #FFFF;
}
